
.central {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.content{
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
.content img {
    height: 700px;
    margin-right: -250px; 
    text-decoration: none;
  }
.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.texto h1 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 96px;
    color: white;
}
.texto button{
    margin-top: -70px;
    text-align: center;
    background-color: #006691;
    width: 425px;
    height: 92px;
    border-radius: 20px;
    font-family: "Poetsen One", sans-serif;
    cursor: pointer;
    font-style: normal;
    font-size: 96px;
    color: white;
    line-height: 92px;

}
.texto button:hover {
    background-color: #0056b3; 
  }
.app {
    color: #006691;
}