@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.pag {
  display: flex;
  justify-content: center;
  align-items: center;

}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}
.tabela {
  width: 1334px;
  height: 764px;
  background-color: #D9D9D9;
  border-radius: 20px;
}
.deleteicon{
  width: 24px;
  height: 24px;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    padding: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.container label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.container input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.container button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.container button:hover {
  background-color: #007BFF; 
}


.line {
  background-color: black;
  width: 100%;
  height: 1px;
}



.tabela table {
  width: 100%;
  margin-top: 20px;
  background-color: #FFF8F8;
  border-radius: 20px;
}

.tabela th, .tabela td {
  text-align: center;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  border: 1px solid #ccc;
}

.tabela th {
  background-color: #f4f4f4; 
}

.exibition {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-left: 1px;
  height: 50px;
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}